<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schoolmanapp.shantigirischool.school">
    <!-- android:name=".school.Splashscreen" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- GPS Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <permission
        android:name="com.schoolmanapp.shantigirischool.school.parent.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.srishtiinnovative.school.parent.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name="com.schoolmanapp.shantigirischool.school.school.peekaboApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.WakeUp"></activity>
        <activity android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.AlarmActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.schoolmanapp.shantigirischool.school.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Splashscreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.schoolmanapp.shantigirischool.school.school.Login" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Forgotpassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.tracking.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.FourInOne"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.SetttingsFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Change_username"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.actvity_calender"
            android:screenOrientation="portrait" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.school.FileDisplay" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2c8K9CAcELK9CNmLtAiSVDo6fpvyeYBI" />

        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.teacher_message"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.Timing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.calender_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.home_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.student_message"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.student_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.message_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.student_messagetoall"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.timing_previous"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.previous_attaendence"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.paidhistory_Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Forgotpassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.student_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Add_student"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.attendence_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.message_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.track_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.student_message"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.no_webview"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.student_attendence"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.activity_fees"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.webview"
            android:screenOrientation="portrait" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.message_tosend" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.activity_newevents"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.calender_events"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.driver.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.driver.Select_trip"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.driver.Startstop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.driver.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.driver.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.schoolmanapp.shantigirischool.school.driver.LocationUpdateService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Activity_Message"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.send_message"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.Submit_otp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Sms_school"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schoolmanapp.shantigirischool.school.school.Sms_send_activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.AddMark" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.teacher.java_class.TeacherAddMarkList" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.SelectExamParent" />
        <activity android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.ResultWebView" />

        <receiver android:name="com.schoolmanapp.shantigirischool.school.parent.Java_class.AlarmReciver" />
    </application>

</manifest>